p{
    font-size: 1.1rem;
}

hr{
    padding-top: 0.1rem;
}

.forside{
    background-image: url("/background-bow.png");
    min-height: 100vh;
}

.forside h1{
    font-size: 6rem;
    color: #fff;
}

.forside p{
    font-size: 4rem;
    color: #fff;
}

.om hr{
    background-color: #ccc !important;
}

.butikker{
    padding-top: 5%;
    background-color: #F0F1F3
}

.butikker h2{
    padding-top: 5%;
    color: #000;
    font-size: 60px;
}

.vejledning{
    background-color: #F0F1F3;
    padding-top: 5%;
}

.vejledning h2{
    padding-top: 5%;
}

.height-100{
    min-height: 100vh;
}

.center-text{
    text-align: center;
}

.space{
    margin-top: 10rem;
}

.pa-top-10{
    padding-top: 10rem;
}

.pa-top-5{
    padding-top: 5rem;
}

.ma-top-5{
    margin-top: 5rem;
}

@media screen and (max-width: 1000px) {
    p{
        font-size: 0.8rem;
    }
    .pa-top-10{
        padding-top: 8rem;
    }
    
    .pa-top-5{
        padding-top: 3rem;
    }
    
    .ma-top-5{
        margin-top: 3rem;
    }

    .height-100{
        min-height: 80vh;
    }

    .hide-sm{
        display: none;
    }
}