p{
    color: #030303;
}

h1, h2, h3, h4 ,h5 ,h6{
    color: #030303;
}

hr{
    padding-top: 0.1rem;
}

.forside{
    background: #fdfdfd;
    min-height: 100vh;
}

.forside > div > div > p{
    font-family: "Segoe UI";
    font-size: 3.5rem;
    font-weight: 300;
}

.om{
    background-color: #676767;
    min-height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
}

.om p{
    color: #fff;
}

.om h3{
    color: #fff;
}

.butikker{
    background-color: #edeef0;
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 100vh;
}

.butikker > h2{
    padding-top: 5%;
    color: #000;
    font-size: 60px;
}

.vejledning{
    background-color: #ffffff;
    min-height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
}

.system{
    background-color: #cecece;
    min-height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
}

.kontakt{
    background-color: #333333;
    min-height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
}

.kontakt h3, .kontakt p{
    color: #fff;
}

.kontakt label{
    color: #c7c7c7;
}

.modal-body p, .modal-body h3{
    color: #030303;
}

.modal-body > label{
    color: #777;
}

.width{
    width: 60vw;
}

.space{
    margin-top: 5rem;
}

.pa-top-10{
    padding-top: 10rem;
}

.pa-top-5{
    padding-top: 5rem;
}

.ma-top-5{
    margin-top: 5rem;
}

.bottom{
    margin-top: 30%
}

.hr-size{
    height: 100%;
    padding-left: 0.2rem;
    margin-left: 50%;
}

@media screen and (max-width: 1000px) {
    p{
        font-size: 0.8rem;
    }

    .space{
        margin-top: 8rem;
    }

    .pa-top-10{
        padding-top: 8rem;
    }
    
    .pa-top-5{
        padding-top: 3rem;
    }
    
    .ma-top-5{
        margin-top: 3rem;
    }

    .height-100{
        min-height: 80vh;
    }

    .hide-sm{
        display: none;
    }
    .width{
        width: 80vw;
    }
}